<h1>New Pantry Item</h1>
<%= nested_form_for :pantry_item, url: pantry_items_path do |f| %>
  <% if @pantry_item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pantry_item.errors.count, "error") %> prevented this pantry item from being saved:
      </h2>
      <ul>
        <% @pantry_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.fields_for :ingredient do |ff| %>
    <%= ff.label :name %><br />
    <%= ff.text_field :name %>
  <% end %>
  </p>
  <p>
  <%= f.label :amount %><br />
  <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %> 
<%= link_to 'Back', pantry_items_path %>
