<h1>Create a new shopping list</h1>
<%= nested_form_for @shopping_list do |f| %>
  <%= f.fields_for :ingredients do |ff| %>
    <%= ff.label :name %>
    <%= ff.text_field :name %>
    <%= ff.link_to_remove "Remove Item" %>
  <% end %>
  <%= f.link_to_add "Add Item", :ingredients %>
  <p>
  <% f.submit %>
  </p>
<% end %>
